/* 
underline underline-offset-2 decoration-blue-500 hover:decoration-2 font-semibold flex flex-row items-center gap-1
*/

.link {
  text-decoration: underline;
  text-decoration-color: hsla(208, 76%, 52%, 0.4);
  transition: all 150ms ease-out;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  /* color: hsla(208, 76%, 52%, 1); */
  color: hsla(0, 0%, 100%, 1);
  font-weight: 600;
}

.link:hover {
  text-decoration-color: hsla(208, 76%, 52%, 1);
}
